<% layout('/layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Make A New Campground</a>
    </div>
    <% for(let campgrounds of campground ) { %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if(campgrounds.images) { %>
                    <img class="img-fluid" alt="" src="<%= campgrounds.images[0].url %>">
                    <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campgrounds.title %>
                        </h5>
                        <p class="card-text">
                            <%= campgrounds.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campgrounds.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campgrounds._id %>">View <%= campgrounds.title
                                %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>